body {

	&.nav-active {
		.nav-drop {
			opacity: 1;
			visibility: visible;
		}
	}
}

a {
	@include animate(color);

	text-decoration: none;
}

img {
	vertical-align: middle;
}

.container {
	@extend %clearfix;

	position: relative;
	margin: 0 auto;
	max-width: 1202px;
	padding: 0 15px;
}

#wrapper {
	overflow: hidden;
	position: relative;
}

.visual-section {
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 77px 0 0;
    padding: 25px 0 40px;
	
	@include media('>=desktop') {
		margin: 100px 0 0;
		padding: 100px 0 0;
		min-height: 600px;
	}

	.form-holder {
		background-color: white;
		border-radius: 20px;
		box-shadow: 5.7px 5.7px 10px rgba(0, 0, 0, 0.15); 
		width: 100%;
		padding: 15px;
		float: left;
		text-align: right;

		@include media('>=tablet') {
			max-width: 300px;
			padding: 26px 31px 35px 31px;
		}
		
		@include media('>=widescreen') {
			margin: 0 0 0 245px;
		}

		h3 {
			color: #5363db;
			font-size: 26px;
			font-weight: 600;
			text-align: left;
			margin: 0 0 15px;
		}

		input {
			@include placeholder {
				color: #888;
			}

			display: block;
			width: 100%;
			padding: 3px 10px;
			margin: 0 0 20px;
			background: #f2f2f2;
			border-radius: 8px;
			border: none;
			height: 50px;
			font-size: 14px;
			font-weight: 400;
			outline: none;

			&.input-error {
				border: 1px solid #ff0000;
			}
		}

		.btn {
			background: $blue;
			border: none;
			border-radius: 8px;
			box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.15);
			outline: none;
			padding: 11px 65px;
			color: $white;
			font-size: 16px;
			font-weight: 700;

			&:hover {
				background: #475bf1;
			}
		}
	}

	.select-holder {
			
		.select {
			position: relative;
			margin: 0 0 28px;

				 &:before {
					content:"";
					position:absolute;
					top:1px;
					right:1px;
					bottom:1px;
					width: 30px;
					background: #f2f2f2;
					pointer-events:none;
					z-index: 1;
					border-radius: 0px 8px 8px 0;
				}

			select::-ms-expand {display: none;}

			select {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: 50px;
				overflow: hidden;
				border-radius: 8px;
				border: none;
				outline: none;
				position: relative;
				padding: 3px 10px;
				font-size: 14px;
				line-height: 1.714285;
				font-weight: 400;
				color: #888;
				background: #f2f2f2;
			}

			.fake-select:after {
				position: absolute;
				content:'';
				top:24px;
				transform: translateY(-50%);
				right: 18px;
				z-index: 1;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 6px 0 6px;
				border-color: #888888 transparent transparent transparent;
			} 
		}
	}

	.text-holder {
		display: inline-block;
		width: 100%;
		text-align: center;
		padding: 15px;

		@include media('>=tablet') {
			max-width: 520px;
			margin: 0 0 0 20px;
			text-align: left;
			padding: 55px 7px 0;
		}

		@include media('>945px') {
			margin: 0 0 0 90px;
		}

		h1 {
			color: $white;
			font-size: 30px;
			font-weight: 700;
			line-height: 1.5;
			text-transform: uppercase;

			@include media('>945px') {
				font-size: 48px;
			}
		}

		strong {
			color: white;
			font-size: 20px;
			font-weight: 400;
			line-height: 1.05;
			font-family: $base-font-cursive;

			@include media('>945px') {
				font-size: 40px;
			}
		}
	}
}

.program-section {
	padding: 30px 0;

	@include media('>=tablet') {
		padding: 112px 0 85px;
	}

	.headline {
		text-align: center;
		padding: 0 0 15px;

		@include media('>=tablet') {
			padding: 0 0 65px;
		}

		h2 {
			color: $blue;
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			text-transform: uppercase;
			margin: 0;

			@include media('>=tablet') {
				font-size: 30px;
			}
		}

		strong {
			font-size: 30px;
			font-family: $base-font-cursive;
			color: #777;
		}
	}

	.media-item {
		@extend %listreset;

		display: flex;
		flex-wrap: wrap;

		li {
			@extend %clearfix;

			width: 100%;
			margin: 0 0 25px;

			@include media('>=desktop') {
				width: 50%; 
			}

			.col {
				min-height: 300px;
				border-radius: 8px;
				box-shadow: 3.5px 3.5px 20px rgba(0, 0, 0, 0.1);
				padding: 15px 0;
				margin: 0;

				@include media('>=tablet') {
					margin: 0 30px 0 5px;
					padding: 0;
				}
			}

			.img-holder {
				max-width: 270px;
				margin: 0 auto;
				overflow: hidden;

				@include media('>=tablet') {
				border-radius: 15px 0 0 15px;
				float: left;
				}
			}

			.text-holder {
				display: inline-block;
				width: 100%;
				padding: 0 30px;
				color: #555;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.571428;

				@include media('>=tablet') {
					width: calc(100% - 270px);
					padding: 33px;
				}

				h4 {
					color: #777;
					font-size: 18px;
					font-weight: 700;
					line-height: 45px;
					text-transform: uppercase;
					margin: 0 0 15px;

					@include media('>=tablet') {
						font-size: 20px;
					}
				}

				span {
					color: #999;
					font-size: 14px;
					font-weight: 400;
					line-height: 1.571428;
				}
			}
		}
	}
}

.media-section {

	.media {
		@extend %listreset;

		display: flex;
		flex-wrap: wrap;

		li {
			position: relative;
			width: 100%;

			@include media('>=phone') {
				width: 50%;
			}

			@include media('>=desktop') {
				width: 25%;
				min-height: 350px;
			}

			&:hover {
				.overlay {
					opacity: 0.8;
					visibility: visible;
				}
			}

			.img-holder {
				
				img {
					width: 100%;
					height: 350px;
				}
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $blue;
				opacity: 0;
				visibility: hidden;
			}

			.search {
				background: $white;
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 57px;
				height: 57px;
				border-radius: 50%;
				
				.icon-search {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $blue;
					font-size: 30px;
				}
			}
		}
	}
}

.aboutUs-section {
	padding: 50px 0 80px;

	@include media('>=tablet') {
		padding: 127px 0 120px;
	}

	.carousel {
	position: relative;

		.mask {
			position: relative;
			overflow: hidden;
			margin: 0 auto;
			max-width: 1170px;
		}

		.slideset {
			width: 99999px;
			float: left;
			position: relative;
			width: 100%;
		}

		.slide {
			float: left;
			
			@include media('>=tablet') {
				padding: 0 10px 0 5px;
			}
			
			.text-holder {
				float: left;
				color: #555;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.571428;
				width: 100%;
				padding: 15px 0 0;

				@include media('>=tablet') {
					width: 50%;
					padding: 0 30px 0 0;
				}

				@include media('>=widescreen') {
					padding: 10px 115px 0 0;
				}

				h2 {
					color: $blue;
					font-size: 30px;
					font-weight: 700;
					line-height: 1.5;
					text-transform: uppercase;
				}
			}

			.img-holder {
				float: right;
				width: 100%;
				border-radius: 8px;
				box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.15);
				overflow: hidden;

				@include media('>=tablet') {
					width: 50%;
				}

				img {
					width: 100%;
				}
			}
		}

		.btn-prev,
		.btn-next {
			position: absolute;
			color: $blue;
			font-size: 30px;
			background: $white;
			border-radius: 50%;
			width: 50px;
			height: 50px;

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.btn-prev {
			bottom: -45px;
			right: 60px;
			box-shadow: 6.4px 6.4px 9px rgba(0, 0, 0, 0.1);

			&:hover {
				color: #46a5f2;
			}

			@include media('>=tablet') {
				right: 48%;
				bottom: 50%;
				transform: translateY(50%);
			}
		}

		.btn-next {
			bottom: -45px;
			right: 0;
			box-shadow: 6.4px 6.4px 9px rgba(0, 0, 0, 0.1);

			&:hover {
				color: #46a5f2;
			}

			@include media('>=tablet') {
				right: -18px;
				bottom: 50%;
				transform: translateY(50%);
			}
		}
	}
}

.plus-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 30px 0;

	@include media('>=tablet') {
		padding: 125px 0 98px;
	}

	.plus {
		@extend %listreset;
		display: flex;
		flex-wrap: wrap;

		li {
			width: 100%;
			text-align: center;
			padding: 10px 20px;

			@include media('>=phone') {
				width: 50%;
			}

			@include media('>=tablet') {
				width: 25%;
				padding: 0 20px;
			}

			.text-holder {
				color: $white;
				padding: 27px 0 27px;

				@include media('>=tablet') {
					padding: 27px 0 47px;
				}

				h5 {
					font-size: 18px;
					font-weight: 700;
					line-height: 1.5;
					text-transform: uppercase;
					margin: 0 0 13px;
				}
			}
		}
	}
}

.price-section {
	padding: 30px 0;

	@include media('>=tablet') {
		padding: 100px 0 0;
	}
	
	.col-holder {
		
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
			padding: 0 0 0 7px;
		}
	}

	.col {
		width: 300px;
		text-align: center;
		padding: 15px;
		margin: 0 auto;

		@include media('>=tablet') {
			width: 33.332%;
			padding: 0 15px;
		}

		.holder {
			position: relative;
			border-radius: 10px;
			box-shadow: 6.4px 6.4px 50px rgba(0, 0, 0, 0.1);
			padding: 0 0 102px;
		}

		.price {
			background: $blue;
			padding: 60px 0 48px;
			text-align: center;
			border-radius: 10px 10px 0 0;

			.headline {
				color: $white;
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;
				text-transform: uppercase;
				padding: 0;

				@include media('>=desktop') {
					padding: 0 0 0 37px;
				}
				
				.dollar {
					vertical-align: top;
					font-size: 32px;
				}

				.money {
					font-size: 67px;
					padding: 0 0 0 10px;
				}
			}
		}

		.days {
			@extend %listreset;

			color: #555;
			font-size: 18px;
			font-weight: 400;
			line-height: 1.333333;
			padding: 25px 15px;

			li {
				position: relative;
				padding: 20px 0;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 99px;
					height: 1px;
					background: #d7d7d7; 
				}

				&:last-child {
					&:before {
						display: none;
					}
				}
			}
		}

		.btn {
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			display: inline-block;
			padding: 13px 48px;
			background: $blue;
			color: $white;
			border-radius: 20px;
			font-size: 18px;
			font-weight: 600;
			line-height: 1.333333;
			white-space: nowrap;

			&:hover {
				background: #475bf1;

				+div {
					background: #46a5f2;
				}
			}	
		}
	}
}

.comment-section {
	padding: 30px 0 160px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	
	
	@include media('>=tablet') {
		padding: 100px 0 162px;
	}

	.carousel {
	position: relative;

		.mask {
			position: relative;
			overflow: hidden;
			margin: 0 auto;
			max-width: 1170px;
			padding: 0 0 35px;
		}

		.slideset {
			width: 99999px;
			float: left;
			position: relative;
			width: 100%;
		}

		.slide {
			position: relative;
			float: left;
			padding: 10px;

			.holder {
				display: flex;
				flex-wrap: wrap;
				background: white;
				border-radius: 8px;
				box-shadow: 0px 9px 50px 0px rgba(0,0,0,0.1);
				padding: 27px 0 51px;
			}
			
			.text-holder {
				position: relative;
				color: #555;
				font-size: 14px;
				font-style: italic;
				line-height: 22px;
				width: 100%;

				@include media('>=tablet') {
					width: calc(100% - 225px);
					padding: 0 15px 0;
				}

				@include media('>=tablet') {
					padding: 0 130px 0 50px;
				}
				
				&:before {
					content: '';
					position: absolute;
					top: 70px;
					left: 10px;
					height: 75px;
					width: 2px;
					background: #d7d7d7;

					@include media('>=tablet') {
						left: 47px;
					}
				}

				.quotes1,
				.quotes2 {
					position: absolute;
				}

				.quotes1 {
					top: 20px;
					left: 10px;

					@include media('>=tablet') {
						left: 40px;
					}
				}

				.quotes2 {
					bottom: 73px;
					right: 10px;

					@include media('>=tablet') {
						right: 115px;
					}
				}

				span {
					display: block;
					font-style: normal;
					padding: 26px 0 0;
				}
				strong {
					color: $blue;
					font-style: normal;
				}
			}

			.img-holder {
				width: 148px;
				height: 148px;
				box-shadow: 0px 0px 0px 2px rgba(215,215,215,1);
				border: 9px solid $white;
				overflow: hidden;
				border-radius: 50%;
				margin: 0 auto;
				
				@include media('>=tablet') {
					margin: 7px 0 0 57px;
				}
				
				img {
					width: 100%;
				}
			}
		}

		.btn-prev,
		.btn-next {
			position: absolute;
			
			color: $blue;
			font-size: 20px;
			background: $white;
			border-radius: 50%;
			width: 29px;
			height: 29px;

			&:hover {
				color: #46a5f2;
			}

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.btn-prev {
			left: 50%;
			transform: translateX(-440%);
			bottom: 30px;
			box-shadow: 6.4px 6.4px 9px rgba(0, 0, 0, 0.1);

			@include media('>=desktop') {
				left: 37%;
			}
		}

		.btn-next {
			right: 50%;
			transform: translateX(465%);
			bottom: 30px;
			box-shadow: 6.4px 6.4px 9px rgba(0, 0, 0, 0.1);

			@include media('>=desktop') {
				left: 36%;
			}
		}

		.pagination {
			position: absolute;
			display: none;
			top: 38px;
			right: -78px;
			max-width: 750px;
			margin: 0 auto;

			@include media('>1300px') {
				display: block;
			}

			ul {
				@extend %listreset;
			}

			li {
				position: relative;
				cursor: pointer;
				margin: 17px 10px;
				text-indent: -9999px;
				border-radius: 50%;
				border: 2px solid #acacac;

				&.active {
					border: 2px solid $blue;

					a {
						background:$blue;
						border: 2px solid $white;
					}
				}

				a {
					display: block;
					border-radius: 50%;
					display: block;
					height: 16px;
					width: 16px;
				}
			}
		}

		.next-trainer {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 233px;
			display: flex;
			flex-wrap: wrap;
			margin: -35px 0 0 0;
			
			@include media('>=desktop') {
				left: 35%;
			}

			.img-holder {
				width: 72px;
				height: 72px;
				border: 2px solid #d7d7d7;
				box-shadow: none;
				margin: 0 0 0 35px;

				@include media('>=tablet') {
					margin: 7px 0 0 57px;
				}
			}

			.trainer {
				padding: 13px 0 0 5px;

				@include media('>=tablet') {
					padding: 13px 0 0 15px;
				}
				
				strong {
					display: block;
				}
			}
		}
	}
}