#footer {
	background: $blue;
}

.footer-holder {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0; 

	@include media('>=tablet') {
		padding: 95px 0 100px; 
	}

	.col {
		width: 100%;
		padding: 15px;
		color: $white;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.571428;

		@include media('>=tablet') {
			width: 50%;
			padding: 0 115px 0 5px;
		}

			h5 {
				font-size: 18px;
				font-weight: 700;
				line-height: 1.222222;
				text-transform: uppercase;

				@include media('>=desktop') {
					margin: 0 0 50px;
				}
			}

		.text-holder {
			
			@include media('>=desktop') {
				p {
					margin: 0 0 67px;
				}
			}
		}
	}

	.social-icon {
		@extend %listreset;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -9px;

		li {
			padding: 0 9px;

			a {
				color: $white;
				font-size: 22px;

				&:hover {
					color: $black;
				}
			}
		}
	}

	.contact-holder {
		padding: 0 0 0 15px;

		h5 {
			@include media('>=desktop') {
				margin: 0 0 43px;
			}
		}
	}
	.contact {
		@extend %listreset;

		display: flex;
		flex-wrap: wrap;

		li {
			position: relative;
			width: 100%;
			padding: 10px;

			@include media('>=desktop') {
				width: 50%;
			}

			i {
				position: absolute;
				top: 15px;
				left: 0;
				font-size: 20px;
			}

			address {
				padding: 0 0 0 35px;
				font-style: normal;
			}

			.phone {
				display: block;
			}

			a {
				display: block;
				color: $white;
				padding: 0 0 0 35px;

				&:hover {
					color: $black;
				}
			}
		}

		.row {

			@include media('>=desktop') {
				padding: 10px 10px 10px 80px;

				.icon-envelope {
					left: 80px;
					top: 10px;
				}

				.icon-planet {
					left: 80px;
				}
			}
		}
	}
}

.copyright {
	text-align: center;
	color: #b7bffc;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.375;
	background: #5363d8;
	padding: 37px 0 40px;
}